<%= render '/refinery/content_page' %>
<% if @testimonials %>
  <section id="testimonials">
    <ul>
      <%= render @testimonials %>
    </ul>
  </section>
<%end%>

<p>
	<iframe frameborder="0" scrolling="no" height="192" width="606" allowtransparency="true" marginwidth="0" marginheight="0" src="http://comrates.investing.com/index.php?pairs_ids=8830;8831;8832;8833;8834;8836;8848;&header-text-color=%23FFFFFF&curr-name-color=%230059b0&inner-text-color=%23000000&green-text-color=%232A8215&green-background=%23B7F4C2&red-text-color=%23DC0001&red-background=%23FFE2E2&inner-border-color=%23CBCBCB&border-color=%23cbcbcb&bg1=%23F6F6F6&bg2=%23ffffff&open=show&last_update=show"></iframe><br /><span style="font-size: 11px;color: #333333;text-decoration: none;">Commodities are powered by <a href="http://www.investing.com/" rel="nofollow" target="_blank" style="font-size: 11px;color: #06529D; font-weight: bold;" class="underline_link">Investing.com</a></span>

</p>
<p>
	<div><iframe src="http://www.appuonline.com/nseindices-ticker.html" width="370" height="34" frameborder="0" scrolling="no"></iframe></div>

	</p>
	<p>
			<div>
<iframe src="http://www.appuonline.com/data/nse-ticker.html" width="370" height="34" frameborder="0" scrolling="no"></iframe></div>


	</p>

	<p>
			<div><iframe src="http://www.appuonline.com/gadgets/marketwatch-g.html" width="365" height="537" frameborder="0" scrolling="no"></iframe></div>

	</p>	
	<p>
		<iframe src="http://www.appuonline.com/gadgets/mkt.html" height="50" width="300" frameborder="0" scrolling="no"></iframe>
	</p>
	<p>
		<iframe src="http://www.appuonline.com/gadgets/nse-chart-index.html" height="400px" width="300px" frameborder="0" scrolling="no"></iframe>
	</p>
	<p>
		<iframe src="http://www.appuonline.com/gadgets/gainers_g.html" height="422px" width="300px" frameborder="0" scrolling="no"></iframe>
	</p>

	<p>
		<iframe src="http://www.appuonline.com/gadgets/losers_g.html" height="422px" width="300px" frameborder="0" scrolling="no"></iframe>
	</p>
<iframe frameborder="0" src="http://www.indianotes.com/widgets/sensex-nifty-charts/index.php?type=charts&w=300&h=300" width="300" height="200" scrolling="no"></iframe><br><br>
<iframe>
<a href="http://www.monex.com/prods/gold.html" title="Monex Gold Bullion Prices"><img src="http://www.monex.com/widgets/GBX_LINE_45DAY_CUSTOM_WIDGET.PNG" border="0" title="Monex Live Gold Price" alt="Monex Live Gold Price"></a>
</iframe>
<iframe src="https://banners.goldbroker.com/en/widget/iframe/live/XAU/320?currency=USD" 
width="100%" height="320" style="border: 0; overflow: 
hidden;"></iframe><br>Gold price by <a 
href="https://www.goldbroker.com/en/">GoldBroker.com</a>
<!-- Gold Price Script - GOLDPRICEOZ.COM -->
<div style="width:198px; border:1px solid #2d6ab4;height:auto;background-color:#ffffff;font-family:Arial;"><div style="background-color:#2d6ab4;height:24px;width:100%; margin:0 auto;font-size:18px; font-weight:bold;text-align:center; padding-top:0px;"><a href="http://www.goldpriceoz.com/" target="_blank" style="color:#ffffff;text-decoration:none;">Gold Price</a></div><script type="text/javascript" src="http://www.goldpriceoz.com/goldwidget.php?l=en&m=000000&g=ffffff&c=2d6ab4&i=ffffff&l=76a4fb&o=e6f2fa"></script></div>
<!-- End of Gold Price Script -->

<!-- CURRENCY-CONVERTER.ORG.UK CURRENCY CONVERTER 2 START -->
<div style="width:248px;margin:0;padding:0;border:1px solid #000000;background:#1e3c6e;">
<div style="width:248px;text-align:center;padding:2px 0px;background:#354d87;font-family:arial;font-size:11px;color:#f0f0f0;font-weight:bold;vertical-align:middle;">
<a style="color:#f0f0f0;text-decoration:none;text-transform:uppercase;" href="http://www.currency-converter.org.uk" target="_new" title="Currency Converter">Currency Converter</a>
</div>
<div style="padding:0px;">
<script type="text/javascript">	
var dcf = 'GBP';
var dct = 'EUR';
var c = 'yes';
var fc = 'ffffff';
var lc = 'f0f0f0';
var bdr = '000000';
var mbg = '1e3c6e';
var mbg2 = '354d87';
var ac = '666666';
var ahc = 'eeeeee';
var cfc = '350024';
var cbdc = '000000';
var cbgc = 'eeb059';
var ifc = 'e6e3df';
var ibdc = '000000';
var ibgc = '524d4d';
var tz = 'userset';

</script><script type="text/javascript" src="http://www.currency-converter.org.uk/widget/CCUK-CC2-1.php"></script></div></div>
<!-- CURRENCY-CONVERTER.ORG.UK CURRENCY CONVERTER LIVE END -->
<!-- CURRENCY-CONVERTER.ORG.UK CURRENCY CHARTS START -->
<div style="width:178px;margin:0;padding:0;border:1px solid #2D6AB4;background:#e6f2fa;">
<div style="width:174px;text-align:center;margin:2px;padding:2px 0px;background:#2D6AB4;font-family:;font-size:11px;color:#ffffff;font-weight:bold;vertical-align:middle;">
<a style="color:#ffffff;text-decoration:none;text-transform:uppercase;" href="http://www.currency-converter.org.uk/currency-rates/convert/GBP-EUR-rate.html" target="_new" title="GBP EUR charts">GBP EUR</a> CHARTS
</div>
<div style="padding:2px;">
<script type="text/javascript">	
var dcf = 'GBP';
var dct = 'EUR';
var mcol = '2D6AB4';
var mbg = 'e6f2fa';
var tc = 'ffffff';
var tz = 'userset';

</script><script type="text/javascript" src="http://www.currency-converter.org.uk/widget/CCUK-CHART-1.php"></script></div></div>
<!-- CURRENCY-CONVERTER.ORG.UK CURRENCY CHARTS END -->
<!--START theFinancials.com Content-->
<!--copyright theFinancials.com - All Rights Reserved-->
<!--Get Help by Calling 1.843.886.3635-->
<!--Modify the 'width' and 'height' parameters in the code below to change the default dimensions of the widget-->
<script LANGUAGE='JavaScript' type='text/JavaScript' SRC='http://www.theFinancials.com/Widgets/ShowWidget.aspx?id=0273805703&width=0&height=0&mode=iframe'></script>
<!--END theFinancials.com Content-->
<!--START theFinancials.com Content-->
<!--copyright theFinancials.com - All Rights Reserved-->
<!--Get Help by Calling 1.843.886.3635-->
<!--Modify the 'width' and 'height' parameters in the code below to change the default dimensions of the widget-->
<script LANGUAGE='JavaScript' type='text/JavaScript' SRC='http://www.theFinancials.com/Widgets/ShowWidget.aspx?id=0271905684&width=0&height=0&mode=iframe'></script>
<!--END theFinancials.com Content-->
		<script src="http://markets.financialcontent.com/stocks?Module=snapshot&Ticker=$COMP+$SPX+GOOG+FB+MCD&Output=JS"></script> 
<script src="http://nmp.newsgator.com/NGBuzz/buzz.ashx?buzzId=81526&apiToken=5023C7C2C4F34C6582080EBDDB06784A&trkP=&trkM=93A3A8AF-F2AB-EB65-395B-D21D7BC0B090" type="text/javascript"></script>

<!--START theFinancials.com Content-->
<!--copyright theFinancials.com - All Rights Reserved-->
<!--Get Help by Calling 1.843.886.3635-->
<iframe src='http://www.thefinancials.com/syndicated/Free/EX_MarketUpdate_UK.html' width='25%' marginheight='0' marginwidth='0' height='500' hspace='0' vspace='0' frameborder='no' title='United Kingdom Market Update'></iframe>
<!--END theFinancials.com Content-->
<!--START theFinancials.com Content-->
<!--copyright theFinancials.com - All Rights Reserved-->
<!--Get Help by Calling 1.843.886.3635-->
<!--specify 'bgcolor', 'fontcolor' and 'bordercolor' using 3- or 6-character color codes - DO NOT include '#' in the color codes-->
<!--use 'numtileswide=1' to display the widget vertically, 'numtileswide=0' to display it horizontally, or use another value for other layouts-->
<!--set 'scrollSpeedFromZeroToTen' to 0 to disable scrolling, or use value from 1 (slow) to 10 (fast) to control scroll speed-->
<iframe src='http://www.thefinancials.com/ShowPanel.aspx?pid=free&id=582&bgcolor=003366&fontcolor=ffffff&fontsize=13&bordercolor=c0c0c0&numtileswide=0&mode=iframe&scrollSpeedFromZeroToTen=5' width='100%' height='100%' scrolling='auto' marginheight='0' marginwidth='0' hspace='0' vspace='0' frameborder='no' allowtransparency='true'></iframe>
<!--END theFinancials.com Content-->

<!--START theFinancials.com Content-->
<!--copyright theFinancials.com - All Rights Reserved-->
<!--Get Help by Calling 1.843.886.3635-->
<iframe src='http://www.thefinancials.com/syndicated/Free/EXt_MarketUpdate_UK.html' width='100%' marginheight='0' marginwidth='0' height='500' hspace='0' vspace='0' frameborder='no' title='United Kingdom Market Update'></iframe>
<!--END theFinancials.com Content-->

<iframe src="http://widgets.prorealtime.com/ProRealTime_FlashQuotes/itcharts.phtml?wid=2014789527&k=7f39f8b9386cb84e86ba2ec0e7e467c8" height="350" width ="600" frameborder="0" scrolling="no"></iframe>