<section id="blog_archive_widget">
  <!-- <h2><%#= t('archives', :scope => 'refinery.blog.shared') %></h2> -->
  <nav>
    <ul>
      <% links.each do |link| %>
        <li style="list-style-type:none;"><%= link %></li>
      <% end %>
    </ul>
  </nav>
</section>
