<!--=== Content Part ===-->
    <div class="container content">     
        <div class="row margin-bottom-40">
        
        <div class="col-md-6 md-margin-bottom-40">
        
                <div id="myP" class="responsive-video">
      
                    <iframe width="100%" height="100%" src="//www.youtube.com/embed/TTiJeTUX_8M" frameborder="0" allowfullscreen></iframe>
                   
                    <!-- <ul class="list-unstyled list-inline team-socail">
                        <li><a href="https://www.youtube.com/results?search_query=koresol" target="_blank"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fa fa-vimeo-circle"></i></a></li> 
                    </ul> -->

            </div>
            


                    
                
                                
            </div>
            <div class="col-md-6 md-margin-bottom-40">
               <p><span class="dropcap-bg">A</span><p><%= render '/refinery/content_page' %></p></p><br>
                <ul class="list-unstyled">
                    <li><i class="fa fa-check color-green"></i> Provide  video training on domain and technology</li>
                    <li><i class="fa fa-check color-green"></i> Corporate and Creative</li>
                    <li><i class="fa fa-check color-green"></i> Screencasts of Experts Havin More Than 12 Years of Experience in Domain</li>
                    <li><i class="fa fa-check color-green"></i> Video Tutorial on Technincal skills</li>
                </ul><br />


                <!-- Blockquotes -->
                <blockquote class="hero-unify">
                    <p><i>"Our video tutorials are designed to give you thorough knowledge of Domain as well as technical skills"</i></p>
                    <!-- <small>CEO Nitin Kore</small> -->
                </blockquote>
            </div>

            
        </div><!--/row-->

        <!-- Meer Our Team -->
        <div class="headline"><h2>Recent Videos </h2></div>
        <div class="row team">
            <div class="col-sm-6">
                <div class="thumbnail-style">
                <div class="responsive-video">
                    <iframe width="100%" height="100%" src="//www.youtube.com/embed/J7PckYcsovY" frameborder="0" allowfullscreen></iframe></div>
                    <%#= image_tag("team/4.jpg",:class=>"img-responsive",:alt=>'')%>
                    <!-- <img class="img-responsive" src="assets/team/1.jpg" alt="" /> -->
                    <h3><a>Sample Ruby Program</a> <!-- <small>Ruby</small> --></h3>
                    <!-- <p>In this video we provide basic of ruby programming and some envornmental requirement</p>
                    <ul class="list-unstyled list-inline team-socail">
                        <li><a href="https://www.youtube.com/results?search_query=koresol" target="_blank"><i class="fa fa-youtube"></i></a></li> -->
                        <!-- <li><a href="#"><i class="fa fa-vimeo-circle"></i></a></li> 
                    </ul>-->
                </div>
            </div>
            <div class="col-sm-6">
                <div class="thumbnail-style">
                <div class="responsive-video">
                    <iframe width="100%" height="100%" src="//www.youtube.com/embed/TTiJeTUX_8M" frameborder="0" allowfullscreen></iframe></div>
                    <%#= image_tag("team/3.jpg",:class=>"img-responsive",:alt=>'')%>
                    <!-- <img class="img-responsive" src="assets/team/3.jpg" alt="" /> -->
                    <h3><a>koresol's Techno functional(BFS) Training Initiatives</a> <!-- <small>Ruby</small> --></h3>
                    <!-- <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
                    <ul class="list-unstyled list-inline team-socail">
                        <li><a href="https://www.youtube.com/results?search_query=koresol" target="_blank"><i class="fa fa-youtube"></i></a></li> -->
                        <!-- <li><a href="#"><i class="fa fa-vimeo-square"></i></a></li> -->
                    </ul>
                </div>
            </div>
            
        </div><!--/team-->
        <!-- End Meer Our Team -->


