<!-- <%# if @posts.many? %>-->
  <!-- <h4><%#= t('.other') %></h4> -->
  <!--changes by pavan start-->
  <!-- <ul id="blog_posts"  style="margin:0px 0px 10px 0px;" > --><!--changes by pavan end-->
    <%# @posts.each do |blog_post| %>
      <!-- <li class='clearfix'>
        <%#= link_to blog_post.title, refinery.blog_post_path(blog_post) %>
       
      </li>
    <%# end %>
  </ul> -->
<%# end %> 