/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require refinery/formatting
 *= require refinery/theme
 
 *= require_self
 *= require_tree .

 */
 

 
 
 .addthis_header a :hover{
	 						background-color:#ccc;
							border-radius:100px;
							-webkit-border-radius:100px;
							-moz-border-radius:100px;
							-o-border-radius:100px;
							-ms-border-radius:100px;}
	.addthis_footer a :hover{
	 						background-color:#ccc;
							border-radius:100px;
							-webkit-border-radius:100px;
							-moz-border-radius:100px;
							-o-border-radius:100px;
							-ms-border-radius:100px;}

  .pagination { padding: 3px; margin: 3px; } 
  .pagination a { padding: 2px 5px 2px 5px; margin: 2px; border: 1px solid #72c02c; text-decoration: none; color: #72c02c; } 
  .pagination a:hover, 
  .pagination a:active { border: 1px solid #72c02c; color: #fff;
     background: #5fb611;
     border-color: #72c02c;
     background-color: #72c02c; } 
  .pagination span.current { padding: 2px 5px 2px 5px; margin: 2px; border: 1px solid #72c02c; font-weight: bold; background-color: #000099; color: #72c02c; } 
  .pagination span.disabled { padding: 2px 5px 2px 5px; margin: 2px; border: 1px solid #72c02c; color: #72c02c; }
           

